{% extends 'layouts/template.html.twig' %}
{% block body %}
    <div class="login-wrap d-flex">
        <div class="login-form mt-auto mb-auto">
            <div>
                <h1 class="c-primary fw-bold mb-4">Welcome back!</h1>
                <form action="{{ path('app_authentication_login') }}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Email:</label>
                        <input type="email" class="form-control" name="_username" id="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" class="form-control" name="_password" id="password">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>

        </div>
        <div class="login-img">

        </div>
    </div>
{% endblock %}
